extends layout 

block content 
  h2= opening.name
  h3= opening.moves
  div  
    strong Description: 
    p= opening.description
    a(href=opening.chessDotComUrl) More info on #{opening.name}'s chess.com page
  div
    if opening.origin
      p Origin: #{opening.origin}
  div 
    if hasVariations
      ul 
      each variation in opening.variations
        li 
          a(href=variation.url) #{variation.name}
    else 
      p #{opening.name} has no variations.
  hr
  a(href=`${opening.url}/delete`) Delete Opening: #{opening.name}
