extends layout

block content
  h2= title
  h3 
    a(href="/variations/add") Add a Variation
  div 
    ul 
    each variation in variations
      li 
        a(href=variation.url) #{variation.name}
        if variation.opening
          p Opening: 
            a(href=variation.opening.url) #{variation.opening.name}
