extends layout 

block content 
  section(class="flex flex-col gap-2 mx-2 mb-8")
    h3(class="text-3xl text-chess-green font-semibold")= variation.name 
    h4(class="text-2xl p-2 border border-chess-green rounded bg-[#fafbf8]")= variation.moves
    hr(class="my-3") 
    h4(class="") Opening:  
      a(href=opening.url class="link") #{opening.name}
    div 
      strong(class="underline") Description: 
      p= variation.description
    div
      if variation.origin
        strong(class="underline") Origin
        p #{variation.origin}
    hr
    div(class="flex gap-2 text-center")
      a(href=`${variation.url}/update` class="button-secondary w-fit") Update #{variation.name}
      p
      a(href=`${variation.url}/delete` class="button-red w-fit") Delete: #{variation.name}


